body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}



.container1{
  padding: 16px;
  background-color: #d9d9d9;
  width:70%;
  margin:16px auto;
  border-radius: 5px;
}

img{
  width:200px;
  height: 200px;
  border-radius: 50%;
}
p{
  text-align: center;
  font-weight: bold;
}
.updateprofile{
  color: white;
  background-color: #4CAF50;
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  margin-left: 8px;
}
