<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <title></title>
  </head>
  <body>
     <p id="h1"> Noteworthy </p>
     <p id="h2"> The journal blog</p>
     <div class="anchor">
       <a href="/users/register">Register</a>
       <a href="/users/login">Login</a>
     </div>
  </body>
</html>
