<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New article</title>
    <link rel="stylesheet" type="text/css" href="../css/fields.css">
    </head>
  <body>
    <div class="container">
      <h1>New article</h1>
      <form class="" action="/articles" method="post">
       <%- include('partials/formfield') %>
      </form>
    </div>

  </body>
</html>
